body{
  font-family: 'Lobster', cursive;
  background-color: #D9f5ff;
}
.App{
  text-align: center;
  margin-top: 6%;
}
.container-gif{
  display: flex;
  gap: 24px;
  flex-direction: wrap;
  margin-top: 4%;
  justify-content: center;
  padding: 0 5%;
}
.container-gif div img{
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) opx 10px 10px;
}
form input[type="text"]{
  font-size: inherit;
  padding: 12px 20px;
  outline: none;
  border: solid 0px #000;
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.error{
  color: red;
}